{% extends "base.html" %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form action="/" method="post" onsubmit="return validarSenha();">
            <div>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <div>
                <button type="submit">Entrar</button>
            </div>
        </form>
        <p>Não tem uma conta? <a href="{{ url_for('cadastro') }}">Criar Login</a></p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
